

.login label{
    font: inherit;
     display: block;
  /* color: antiquewhite ; */
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.login p{
  padding: 0;
  margin: 0;
  color: crimson;
  font-size: 10px;
}
.login input{
   
  display: block;
  width: 100%;
  /* border: 0.5px solid #8a2b06; */
  border: 1px solid #ccc;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  outline: none;
}
.login .input:focus,select:focus,
textarea:focus{
    outline: none;
}
.login .input:active{
    color: #8a2b06;
}
.button {
  display:inline-block;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  color: #8a2b06;
  border: 1px solid #8a2b06;
  padding: 0.5rem;
    width: 5rem;
  text-align: center;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.button:hover,
.button:active {
  background-color: #8a2b06;
  color: white;
}
